In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import statsmodels.api as sm
%matplotlib inline

In [2]:
date_columns = ['CREATED','UPDATED', 'DELETED']
df = pd.read_csv("instapage.csv", sep = '[/|]', engine = 'python', parse_dates=date_columns)
df.head(5)

,FILE_ID,Unnamed: 1,Unnamed: 2,USER,Unnamed: 4,Unnamed: 5,CREATED,Unnamed: 7,Unnamed: 8,UPDATED,Unnamed: 10,Unnamed: 11,DELETED,Unnamed: 13,Unnamed: 14,VERSION
0,rrT0615,NaN,NaN,3633870,NaN,NaN,2019-08-01,NaN,NaN,2019-08-14,NaN,NaN,NaT,NaN,NaN,26
1,rrT0625,NaN,NaN,2853751,NaN,NaN,2019-08-01,NaN,NaN,2019-11-19,NaN,NaN,1970-01-01,NaN,NaN,26
2,rrT0630,NaN,NaN,2538826,NaN,NaN,2019-08-01,NaN,NaN,2019-09-28,NaN,NaN,NaT,NaN,NaN,2
3,rrT0635,NaN,NaN,1642941,NaN,NaN,2019-08-01,NaN,NaN,2019-12-05,NaN,NaN,NaT,NaN,NaN,5
4,rrT0640,NaN,NaN,3635605,NaN,NaN,2019-08-01,NaN,NaN,2019-10-13,NaN,NaN,2019-10-13,NaN,NaN,1

In [3]:
df.drop(df.columns[[1,2,4,5,7,8,10,11,13,14]], axis=1, inplace=True)
df.head(5)

   FILE_ID     USER    CREATED    UPDATED    DELETED VERSION
0  rrT0615  3633870 2019-08-01 2019-08-14        NaT      26
1  rrT0625  2853751 2019-08-01 2019-11-19 1970-01-01      26
2  rrT0630  2538826 2019-08-01 2019-09-28        NaT       2
3  rrT0635  1642941 2019-08-01 2019-12-05        NaT       5
4  rrT0640  3635605 2019-08-01 2019-10-13 2019-10-13       1

In [4]:
# lets rename the headers
df = df.rename(columns = {'FILE_ID':'file_id','USER':'user','CREATED':'created','UPDATED':'updated'
                          ,'DELETED':'deleted','VERSION':'version'})
df.head(1)

   file_id     user    created    updated deleted version
0  rrT0615  3633870 2019-08-01 2019-08-14     NaT      26

In [5]:
df.shape

(102133, 6)

In [6]:
df.isnull().sum()

file_id        0
user           4
created        0
updated        0
deleted    73795
version       30
dtype: int64

In [7]:
df.describe()

,file_id,user,created,updated,deleted,version
count,102133,102129,102133,102133,28338,102103
unique,102133,10035,92,188,189,420
top,fgT31245,3282991,2019-08-13 00:00:00,2019-08-13 00:00:00,2019-10-25 00:00:00,1
freq,1,6038,5123,4405,474,27476
first,NaN,NaN,2019-08-01 00:00:00,2019-08-01 00:00:00,1970-01-01 00:00:00,NaN
last,NaN,NaN,2019-10-31 00:00:00,2020-02-04 00:00:00,2020-02-04 00:00:00,NaN

#### Notice how deleted has a date as early as 1970 when the dataset is supposed to have files created between aug 1st 2019 and Oct 31st 2019

In [8]:
# Lets see how many rows has a date earlier than 8/1/2019
print(df[df['deleted']< '2019-08-01'])

         file_id     user    created    updated    deleted version
1        rrT0625  2853751 2019-08-01 2019-11-19 1970-01-01      26
500      KLp3685  2728736 2019-08-01 2019-08-01 1970-01-01       2
569      KLp4075  3161776 2019-08-01 2019-12-09 1970-01-01       2
597      KLp4290   262451 2019-08-01 2019-08-21 1970-01-01       2
2482    ffR12445    43539 2019-08-02 2019-10-14 1970-01-01       3
...          ...      ...        ...        ...        ...     ...
100308  Gty08340  2784921 2019-10-30 2019-11-25 1970-01-01      18
100448  Gty09150  2750096 2019-10-30 2019-12-18 1970-01-01       4
101091  Gty26545  3641515 2019-10-31 2019-10-31 1970-01-01       2
101302  Gty27735  2750096 2019-10-31 2019-11-15 1970-01-01     126
101860  Gty30960  3412780 2019-10-31 2019-12-18 1970-01-01      59

[259 rows x 6 columns]

In [9]:
# Check to see if there are 259 rows with 1970 dates
print(len(df[df['deleted']== '1970-01-01']))

259

#### There are 259 rows that has deleted date in 1970. This is clearly wrong. If we take a look at a few rows, it looks like deleted date is the same as updated date.

In [10]:
df[df['deleted'].notnull()].head(20)

    file_id     user    created    updated    deleted version
1   rrT0625  2853751 2019-08-01 2019-11-19 1970-01-01      26
4   rrT0640  3635605 2019-08-01 2019-10-13 2019-10-13       1
5   rrT0645   268126 2019-08-01 2019-11-08 2019-11-08      49
11  rrT0860  3012311 2019-08-01 2019-08-01 2019-08-01       1
18  rrT1460  3628745 2019-08-01 2019-08-01 2019-08-01       1
32  rrT2990  3301506 2019-08-01 2019-08-01 2019-08-01       1
33  rrT3115  3628745 2019-08-01 2019-08-01 2019-08-01       3
43  rrT3575  3635605 2019-08-01 2019-10-13 2019-10-13       1
44  rrT3605  3635690 2019-08-01 2019-10-14 2019-10-14       1
45  rrT3620   317040 2019-08-01 2019-08-01 2019-08-01       1
46  rrT3645   317040 2019-08-01 2019-08-01 2019-08-01       1
47  rrT3665  3635605 2019-08-01 2019-10-13 2019-10-13      11
48  rrT3690   317040 2019-08-01 2019-08-01 2019-08-01       1
50  rrT3885  3633835 2019-08-01 2019-08-04 2019-08-04       3
55  rrT4695  3065041 2019-08-01 2019-10-18 2019-10-18      13
58  rrT5045  2828091 2019-08-01 2019-08-01 2019-08-01       1
59  rrT5200  2828091 2019-08-01 2019-10-23 2019-10-23       1
61  rrT5240  ffR8456 2019-08-01 2019-08-01 2019-08-01       2
70  rrT6930  3635695 2019-08-01 2019-08-01 2019-08-01       4
83  rrT7975  3301506 2019-08-01 2019-08-06 2019-08-06      12

In [11]:
# Lets confirm how many rows where deleted date equals updated date.
# This will confirm whether we should update deleted date to match updated date.

print(len(df[df['deleted']==df['updated']]))

# With 28026 match this is a good indication to change the 1970 dates to match the updated dates.

28026

#### The summary indicates that we should have 28338 deleted dates. 28026 + 259 is only 28285. Looks like there are 53 rows where deleted date does not equal updated date. Lets focus on the 259 count of 1970 dates first.

In [12]:
# See which file id has 1970 deleted date. That way when we make the changes we can double check if the changes 
# were done correctly

file_1970 = df[df['deleted']=='1970-01-01']
file_1970.head(10)

       file_id     user    created    updated    deleted version
1      rrT0625  2853751 2019-08-01 2019-11-19 1970-01-01      26
500    KLp3685  2728736 2019-08-01 2019-08-01 1970-01-01       2
569    KLp4075  3161776 2019-08-01 2019-12-09 1970-01-01       2
597    KLp4290   262451 2019-08-01 2019-08-21 1970-01-01       2
2482  ffR12445    43539 2019-08-02 2019-10-14 1970-01-01       3
3468  ffR32025   872068 2019-08-05 2019-09-19 1970-01-01      13
4245  ffR36495  2629501 2019-08-05 2019-12-12 1970-01-01      17
4247  ffR36505  2871311 2019-08-05 2019-12-04 1970-01-01       5
4277  ffR36680  2871311 2019-08-05 2019-12-04 1970-01-01       3
5008  ffR48990   180880 2019-08-06 2019-08-06 1970-01-01       2

#### Create a list to store all file_id with 1970 deleted date. We will use the list to check if the dates updated like how we want them to.

In [13]:
list_1970 = file_1970["file_id"].tolist()
print(list_1970)

['rrT0625', 'KLp3685', 'KLp4075', 'KLp4290', 'ffR12445', 'ffR32025', 'ffR36495', 'ffR36505', 'ffR36680', 'ffR48990', 'ffR49610', 'ffR52760', 'ffR53045', 'ffR60175', 'ffR62380', 'ffR63930', 'ffR65135', 'ffR65675', 'ffR67195', 'ffR78860', 'ffR78960', 'ffR80080', 'ffR81635', 'ffR83fgT', 'ffR97325', 'ffR99505', '17500390', '175ddR30', '17532010', '17532015', '17532025', '17532030', '17532050', '17537505', '17549290', '17549440', '17592375', '175933pp', '17599400', '17601065', '17604025', '17625030', '17627085', '17627515', '17628080', '17647860', '17648520', '17725280', '17727940', '17733800', '17746735', '17749840', '17749945', '17750075', '17750530', '17750715', '17752495', '17752865', '17768970', '17769215', '17769880', '17770235', '17771445', '17774360', '17775010', '17791835', '17793325', '17795030', '17795040', '17795445', '17798015', '17798035', '178139pp', '17813995', '17818250', '17827540', '17827pp0', '17831960', '17849670', '17850035', '17850045', '17850975', '17852720', '17853fgT', '17865660', '17869140', '178876pp', '17887910', '17889410', '17889485', '17889695', '17890990', '17891015', '17908485', '17908495', '17909080', '17909620', '17909640', '17909695', '17909740', '17910505', '17914260', '17914290', '1792pp75', '17928685', '17928915', '17929040', '179344pp', '17934505', '17941480', '17953705', '179pp960', '17956600', '17961125', '17971420', '17975315', '17975965', '17993210', '17996595', '17998100', '17998330', '180053pp', '18008350', '18014150', '180ffR50', '180nnJ75', '18019050', '18033215', '18036912', '18036932', '18037485', '18046745', '18061250', '18063715', '18082925', '18109350', '18112765', '18113535', '18113745', '18114280', '18114590', '18114605', '18116325', '18116570', '18131420', '18133500', '181370pp', '18137090', '18145985', '18146995', '18157195', '18157200', '18176195', '18177225', '18177885', '18199600', '18200085', '18202470', '18222995', '18223965', '18227825', '18227835', '18228300', '18229690', '18230215', '18230250', '18230310', '18241fgT', '182439pp', '18245340', '18246fgT', '18246190', '18246195', '18246200', '18266830', '18267475', '18268225', '18269115', '18279025', '18322485', '18322495', '18341325', '18347270', '18359675', '18360285', '183606pp', '18369630', '18370780', '18373245', '18373685', '18378290', '18402280', '18402710', '18404970', '18478490', 'fgT30930', 'fgT30950', 'fgT309pp', 'fgT30960', 'fgT51340', 'fgTpp869', 'fgT57740', 'fgT762pp', 'fgT79325', '18620080', '18620090', '18621285', '18667910', '18670645', '18670725', '18673230', '18683750', '18683925', '18684760', '18698995', 'ddR03110', 'ddR03315', 'ddR03640', 'ddR17135', 'ddR36125', 'ddR36870', 'ddR38075', 'ddR56910', 'ddR569pp', 'ddR57020', 'ddR57035', 'ddR57060', 'ddR58125', 'ddR60875', 'ddR60940', 'ddR63115', 'ddR69310', 'ddR69420', 'ddR69545', 'ddR69745', 'ddR71425', 'ddR73925', 'ddR74190', 'ddR74310', 'ddR74605', 'ddR94600', 'ddR95630', 'ddR96125', 'nnJ12015', 'nnJ12070', 'nnJ29595', 'nnJ45630', 'nnJ45635', 'nnJ45640', 'nnJ45645', 'nnJ52535', 'nnJ850pp', 'nnJ861pp', 'Gty06145', 'Gty08340', 'Gty09150', 'Gty26545', 'Gty27735', 'Gty30960']

#### Update 1970 dates to match updated dates

In [14]:
df.loc[df['deleted']=="1970-01-01", 'deleted'] = df['updated']

In [15]:
# Lets check to see if we made the changes correctly. Refer back to list_1970. 
# That list has the file id of all 1970 deleted dates before we made the changes.

check_df = df[df['file_id'].isin(list_1970)]
check_df.head(10)

# Looking at the top 10 rows we can confirm that it was done correctly.

       file_id     user    created    updated    deleted version
1      rrT0625  2853751 2019-08-01 2019-11-19 2019-11-19      26
500    KLp3685  2728736 2019-08-01 2019-08-01 2019-08-01       2
569    KLp4075  3161776 2019-08-01 2019-12-09 2019-12-09       2
597    KLp4290   262451 2019-08-01 2019-08-21 2019-08-21       2
2482  ffR12445    43539 2019-08-02 2019-10-14 2019-10-14       3
3468  ffR32025   872068 2019-08-05 2019-09-19 2019-09-19      13
4245  ffR36495  2629501 2019-08-05 2019-12-12 2019-12-12      17
4247  ffR36505  2871311 2019-08-05 2019-12-04 2019-12-04       5
4277  ffR36680  2871311 2019-08-05 2019-12-04 2019-12-04       3
5008  ffR48990   180880 2019-08-06 2019-08-06 2019-08-06       2

#### Lets circle back to the 53 rows where updated date does not equal deleted date.

In [30]:
not_null_deleted = df[df['deleted'].notnull()]
not_null_deleted = not_null_deleted[not_null_deleted['deleted']!=not_null_deleted['updated']]
print(not_null_deleted)

         file_id     user    created    updated    deleted version
1476    ffR06450  3179881 2019-08-02 2019-11-12 2019-08-06       1
2639    ffR178pp  3601670 2019-08-03 2019-08-05 2019-08-04       1
6138    ffR60680  3245996 2019-08-07 2019-12-20 2019-09-21      36
9275    ffR97900   909363 2019-08-09 2019-10-22 2019-10-21       3
10225   175178pp  1257103 2019-08-10 2019-10-14 2019-09-30      28
10967   17549340  2702756 2019-08-12 2019-12-10 2019-10-15       2
12004   17pp5065  3640pp5 2019-08-12 2019-10-04 2019-08-12       1
14683   17575615  3626420 2019-08-13 2019-09-13 2019-09-11       3
20081   17626535  3139506 2019-08-14 2019-08-19 2019-08-15       1
20217   17627295  3325386 2019-08-14 2019-12-20 2019-12-19       4
21716   17650345  3637630 2019-08-15 2019-10-08 2019-08-29      12
21738   17650515  3637630 2019-08-15 2019-10-08 2019-08-29       1
26465   17751340  1431233 2019-08-20 2019-09-11 2019-08-26      39
26843   17767510  1044328 2019-08-21 2019-12-04 2019-11-13      15
27069   17769270  3644160 2019-08-21 2019-08-22 2019-08-21       6
27138   17769685  3644620 2019-08-21 2019-08-30 2019-08-22      10
27144   17769720  3644620 2019-08-21 2019-08-23 2019-08-22       4
27701   17772915  1431233 2019-08-21 2019-09-11 2019-08-26      22
27800   17773500      146 2019-08-21 2019-10-06 2019-10-05      82
31536   17847665  1245731 2019-08-26 2019-09-14 2019-09-12       9
31545   17847715  1809136 2019-08-26 2019-10-15 2019-09-30      10
31547   17847745  1245731 2019-08-26 2019-09-14 2019-09-12       8
31548   17847750  1245731 2019-08-26 2019-09-14 2019-09-12       8
32826   17863350  2702756 2019-08-27 2019-12-10 2019-10-15       2
33101   17864905      146 2019-08-27 2019-10-06 2019-10-05       2
33630   17867940  3640pp5 2019-08-27 2019-10-21 2019-10-04      11
35757   17899020  3626420 2019-08-29 2019-09-13 2019-09-11       1
39995   1797Gty0  3640pp5 2019-09-03 2019-10-04 2019-09-03       3
49158   18092100  2444762 2019-09-10 2019-09-11 2019-09-10      15
51349   18130675      146 2019-09-12 2019-10-06 2019-10-05       3
51359   18130745      146 2019-09-12 2019-10-06 2019-09-26       1
51635   18132415      146 2019-09-12 2019-09-30 2019-09-26       3
58553   18230370   247948 2019-09-18 2019-09-30 2019-09-19       5
58587   18230585   247948 2019-09-18 2019-09-30 2019-09-19       5
68691   18382730  3526740 2019-09-29 2019-10-18 2019-10-12      31
69803   1840pp50  3297596 2019-09-30 2019-10-24 2019-10-23      29
71142   18429000   247948 2019-10-01 2019-11-01 2019-10-11       3
74446   18496275  3602665 2019-10-04 2019-10-20 2019-10-08       2
74657   18497635  2625971 2019-10-04 2019-12-09 2019-11-12       5
75249   fgT01710   247948 2019-10-04 2019-10-05 2019-10-04       3
76442   fgT33510  3640pp5 2019-10-07 2019-11-19 2019-10-08       3
77457   fgT52775  3601670 2019-10-08 2019-10-21 2019-10-09      13
87447   18685145  3646015 2019-10-17 2019-11-12 2019-10-30       9
90245   ddR37750   909363 2019-10-21 2019-12-06 2019-12-02       9
90846   ddR41195  1757926 2019-10-21 2019-10-22 2019-10-21       1
90854   ddR41250  1757926 2019-10-21 2019-10-22 2019-10-21       1
90857   ddR41265  1757926 2019-10-21 2019-10-22 2019-10-21       1
93539   ddR75985   247948 2019-10-23 2019-11-01 2019-10-29       3
93546   ddR76030   247948 2019-10-23 2019-11-01 2019-10-29       3
97962   nnJ66925   247948 2019-10-28 2019-12-06 2019-11-03       7
99095   nnJ87335   247948 2019-10-29 2019-11-14 2019-10-29       3
99268   nnJ88270  3325386 2019-10-29 2019-12-20 2019-10-29       7
100533  Gty09630   247948 2019-10-30 2019-12-06 2019-11-20       3

#### The above query shows deleted date being less than updated date. This does not make sense logically and since we confirmed that updated dates should equal deleted dates, that is what we will do here as well.

In [31]:
list_53 = not_null_deleted['file_id'].tolist()
print(list_53)

['ffR06450', 'ffR178pp', 'ffR60680', 'ffR97900', '175178pp', '17549340', '17pp5065', '17575615', '17626535', '17627295', '17650345', '17650515', '17751340', '17767510', '17769270', '17769685', '17769720', '17772915', '17773500', '17847665', '17847715', '17847745', '17847750', '17863350', '17864905', '17867940', '17899020', '1797Gty0', '18092100', '18130675', '18130745', '18132415', '18230370', '18230585', '18382730', '1840pp50', '18429000', '18496275', '18497635', 'fgT01710', 'fgT33510', 'fgT52775', '18685145', 'ddR37750', 'ddR41195', 'ddR41250', 'ddR41265', 'ddR75985', 'ddR76030', 'nnJ66925', 'nnJ87335', 'nnJ88270', 'Gty09630']

In [33]:
testdf = df.copy()

In [38]:
testdf['deleted'] = testdf.apply(lambda x: x['updated'] if (np.all(pd.notnull(x['deleted']))) else x['deleted'], axis=1)

# This code would have resolved our 259 count of 1970 dates as well had we checked why there were 53 rows where 
# updated date did not equal deleted date. Would have been less work.

In [39]:
check_df2 = testdf[testdf['file_id'].isin(list_53)]
check_df2.head(10)

        file_id     user    created    updated    deleted version
1476   ffR06450  3179881 2019-08-02 2019-11-12 2019-11-12       1
2639   ffR178pp  3601670 2019-08-03 2019-08-05 2019-08-05       1
6138   ffR60680  3245996 2019-08-07 2019-12-20 2019-12-20      36
9275   ffR97900   909363 2019-08-09 2019-10-22 2019-10-22       3
10225  175178pp  1257103 2019-08-10 2019-10-14 2019-10-14      28
10967  17549340  2702756 2019-08-12 2019-12-10 2019-12-10       2
12004  17pp5065  3640pp5 2019-08-12 2019-10-04 2019-10-04       1
14683  17575615  3626420 2019-08-13 2019-09-13 2019-09-13       3
20081  17626535  3139506 2019-08-14 2019-08-19 2019-08-19       1
20217  17627295  3325386 2019-08-14 2019-12-20 2019-12-20       4

# the above works!!!!!!

In [40]:
print(len(testdf[testdf['deleted']==testdf['updated']]))

# This will confirm that all our deleted dates are now correct. We should have 28338 instances where a file was deleted

28338

In [ ]:
testdf['deleted'] = testdf[testdf['file_id'].isin(list_53)]

In [25]:
testdf.loc[testdf['deleted'].notnull()!=testdf['updated'].notnull(), 'deleted'] = df['updated']

In [26]:
print(len(testdf[testdf['deleted']==testdf['updated']]))

102080

In [27]:
testdf.isnull().sum()

file_id     0
user        4
created     0
updated     0
deleted     0
version    30
dtype: int64

In [ ]:
df.loc[df['deleted']=="1970-01-01", 'deleted'] = df['updated']

In [ ]:
print((not_null_deleted[not_null_deleted['deleted']!=not_null_deleted['updated']]))

In [ ]:
print(len(testdf[testdf['deleted']==testdf['updated']]))

In [ ]:
testdf2['deleted'].fillna(df['Cat2'], inplace = True)

#### Lets convert version to int

In [ ]:
df['version'] = df['version'].astype(int)
# got an error: invalid literal for int() with base 10: 'pp'. Looks like not all versions are numbers

In [ ]:
#lets look at unique values for version
df['version'].unique()

In [ ]:
test_df = df.copy()

#### There are versions with letters in it. Lets remove them so that we can convert to integer

In [ ]:
# remove rows with these versions in list a
a = ['fgT', '1pp', '4pp' 'ffR' 'nnJ' 'Gty' 'ddR' '2pp']
df = df[~df['version'].isin(a)]

In [ ]:
# remove NaN from version
df = df.dropna(subset=['version'])
df.isnull().sum()

#### There are some null values in user. Lets take a closer look.

In [ ]:
print(df[df["user"].isnull()])

In [ ]:
# remove NaN from user since we want to focus on users with an ID. 4 is a small number to drop so we should be fine.
df = df.dropna(subset=['user'])
df.isnull().sum()

#### We do not need to remove NaN from deleted column. In this scenario we can leave it as is. Lets check the dates from created, updated and deleted and see if they are within the timeframe Aug. 1st, 2019 to Oct. 31, 2019

In [ ]:
df['created'].unique

In [ ]:
print(df[df["user"].isnull()])

In [ ]:
print(df[df["VERSION"].isnull()])

In [ ]:
print(df[(df["CREATED"]==df["UPDATED"]) & (df["VERSION"].isna())])

In [ ]:
df[(df["CREATED"]==df["UPDATED"]) & (df["VERSION"].isna())] = df[(df["CREATED"]==df["UPDATED"]) & (df["VERSION"].isna())]["VERSION"].fillna(value=0,inplace=True)

In [ ]:
print(df[df["CREATED"]==df["UPDATED"]])

In [ ]:
df.isnull().sum()

In [ ]:
loan_df['dti'].fillna(value=loan_df['dti'].mean(), inplace=True)

In [ ]:
df[['A', 'B', 'C', 'D']] = df[['A', 'B', 'C', 'D']].fillna